
/* Nav */

nav {
	position: relative;
	margin: auto;
	width: 100%;
	z-index: 99;
}
/* .sticky {
position: fixed;
z-index: 10000;
width: 100%;
top: 0px;
background-color: #fff;
} */
.nav-inner {
	position: relative;
}
#nav > li > a.active:nth-child(1) {
	color: #e63c38;

}
#nav > li > a:hover.active:nth-child(1) {
	color: #fff;
}
#nav > li > a:first-child {
	margin-left: 0px;
}
#nav > li > a:last-child a {
	color: #333
}
.nav {
	width: 1000px;
	margin: 0px auto 0
}
#nav > li:hover > a, .vertnav-top li > a:hover {
	color: #FFF;
	border-bottom: none;
	
}
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a {
	color: #fff;
}
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a:hover {
	color: #e63c38;
	padding: 0px 0px;
}
#nav > li:first-child a span {
}
.cms-index-index nav {
	border-bottom: none
}
#nav {
	position: relative;
	z-index: 10;
	-webkit-transform: translateZ(0);
	padding: 0;
	margin: auto;
	text-align: center;
	   
}
/* All levels */
#nav li {
	text-align: left;
}
#nav li a {
	display: block;
	text-decoration: none;
}
#nav ul.level1 > li a {
	color: #333;
}
#nav ul.level1 > li a:hover {
  color: #ffa200;
  background-color: transparent;
}
#nav li a span {
}
#nav li ul a span {
}
/* 1st level only */

#nav > li.last {
	padding-right: 0;
}
#nav > li > a {
	display: block;
	padding: 0px 0px;
	line-height: 45px;
	text-transform:uppercase;
	color:white;
}
#nav > li > a > span {
	display: inline-block;
	padding: 0 15px;
}
#nav > li > a:hover > span {
}
/* Drop-down boxes:
wide:    2nd-level category drop-down box + custom block drop-down box
classic: custom block drop-down box */
#nav .level0-wrapper {
	position: absolute;
	left: -10000px;
	background-color: #fff;
}
/* Inner wrapper for additional padding */
#nav .level0-wrapper2 {
	padding: 5px;
}
#nav .level0-wrapper2:before, #nav .level0-wrapper2:after {
	display: table;
	line-height: 0;
	content: "";
}
#nav .level0-wrapper2:after {
	clear: both;
}
/* Home link*/

#nav a.level-top.feature {
	margin: 0;
}
/* Icon inside item */
#nav li a.level-top .icon {
	padding: 3px;
	margin: 0;
	float: none;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent !important;
}
#nav li:hover a.level-top .icon {
	padding: 3px;
}
/* Single icon as home link */
#nav #homelink-icon {
	margin-left: 12px;
}
#nav #homelink-icon a.level-top {
	padding-left: 5px;
	padding-right: 5px;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}
/* Custom menu item */
#nav .fl-custom-tabmenulink > a {
	cursor: default;
}
/* Remove 'relative' positioning from custom 'li' (custom block have to be positioned relative to #nav) */
#nav .fl-custom-tabmenulink {
	position: static;
}


/* Static block's content - basic formatting */
#nav .fl-custom-tabmenulink .header-nav-dropdown-wrapper {
	padding: 0px 10px 0px 0px;
	overflow: hidden
}
#nav .fl-custom-tabmenulink .header-nav-dropdown-wrapper p {
	margin: 10px 0;
	color: #999;
	line-height: 1.5em;
	font-size: 13px;
	font-weight: normal;
	letter-spacing:1px
}
#nav .fl-custom-tabmenulink .header-nav-dropdown-wrapper .heading {
	margin: 10px 0;
}
/* Caret */
#nav a.level-top .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-bottom: 2px;
	margin-left: 2px;
	vertical-align: middle;
	content: "";
	border-style: solid solid none;
	border-width: 4px 4px 0;
	border-color: #333 transparent transparent;
}
/* Number of products in category */
/* Sidebar menu */
.vertnav .number {
	margin-left: 3px;
	color: #aaa;
}
/* Main menu */
#nav .number {
	display: inline;
	margin-left: 3px;
}
#nav ul li .number {
	color: #aaa;
}
/* Other */
.nav .itemslider {
	margin-top: 0;
	margin-bottom: 0;
}
.nav .itemslider .item {
	padding-bottom: 0;
}
/* 1st level */
li.level0 > a > span {
	position: relative;
}
li.level0 > a > span > .cat-label {
	position: absolute;
	top: -12px;
	right: 0;
	padding: 0 6px;
	font-size: 14px;
	line-height: 22px;
}
/* Add pin (only 1st level) */
li.level0 > a > span > .pin-bottom:before {
	position: absolute;
	right: 6px;
	top: 22px;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	transition: border-color 450ms ease-in-out;
	-moz-transition: border-color 450ms ease-in-out;
	-webkit-transition: border-color 450ms ease-in-out;
	-o-transition: border-color 450ms ease-in-out;
}
li.level0 > a:hover > span > .pin-bottom:before {
	transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-webkit-transition-duration: 100ms;
	-o-transition-duration: 100ms;
}
/* 2nd level */
li.level1 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
	vertical-align: middle;
}
/* 3rd level */
li.level2 > a > span > .cat-label {
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Category labels inside mobile menu / vertical menu */
ul.vertnav li > a > span > .cat-label {
	position: static;
	display: inline-block !important;
	padding: 0 4px;
	margin-left: 2px;
}
/* Hide pin */
ul.vertnav li > a > span > .pin-bottom:before {
	display: none;
}
/* Label size: all levels */
ul.vertnav li > a > span > .cat-label {
	font-size: inherit;
	line-height: inherit;
}
ul.vertnav-top li > a > span > .cat-label {
	font-size: 14px;
	line-height: 18px;
}
/* Category blocks */
.nav-block {
	margin-top: 0;
	margin-bottom: 1%;
}
.nav-block-top {
}
.nav-block-bottom {
	float: left
}
.nav-block-center {
	margin-top: 0px;
}
.nav-block-right {
	margin-top: 0px;
	float: right;
	padding: 0px;
	text-align: center;
}
.nav-block-right img {
	width: 100%
}
.nav-block-level1-top {
	margin-bottom: 10px;
}
.nav-block-level1-bottom {
	margin-top: 10px;
}
.nav-block .section-line {
	border-color: #eee;
}
/* horizontal + mobile menu trigger */
#nav > li > a {
	font-size: 14px;
	font-weight: normal;
	position: relative;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	-o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	box-shadow: inset 0 0 0 0 #fff
}
ul.level0 {
	padding: 0
}
ul.level1 {
	padding: 0px;
	padding-left:12px
}
#nav .level0-wrapper, #nav.classic ul {
	background-color: #ffffff;
	color: #333333;
}

.cat-label-label1 {
	background-color: #D12631;
	color: #ffffff;
}
.cat-label-label2 {
	background-color: #d52462;
	color: #ffffff;
}
#nav .level0-wrapper, #nav.classic .parent > ul {
	background: #fff;
	border-top: none;
	width: 100%;
	padding: 0px;
	box-shadow:0 3px 10px -5px
}
#nav .level0-wrapper, #nav.classic ul.level0 {
	top: 65px;
}
#nav > li > a {
	color: #fff;
}
#nav > li.mega-menu {
	position: static;
}
.nav-inner #nav li.mega-menu .level0-wrapper {
	border: 0 none;
	padding: 15px 0px;
	z-index: 10000;
	transform: scale(0) rotate(0deg);
	transition: all 0.4s ease-in-out 0s;
	opacity: 0;
	visibility: hidden;
	display: block!important
}
.nav-inner #nav li.mega-menu:hover .level0-wrapper {
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transform: scale(1.0) rotate(0deg);
	transform: scale(1.0) rotate(0deg);
}
#nav .level0-wrapper2 .col-1 {
	float: left;
	width: 75%;
}
#nav .level0-wrapper2 .col-2 {
	padding: 0;
	float: left;
	width: 25%;
}
#nav .level0-wrapper2 .col-3 {
	padding: 5px 0;
	float: left;
	width: 20%;
}
#nav .col-1 ul.level0 > li {
	width: 30%;
}
.col-2 img:hover {
	opacity: 0.5;
}
.col-2 .menu_image {
	display: block;
}
.col-2 img {
	width: 100%
}
.col-2 .menu_image1 {
	display: block;
	margin-top: 15px;
}
/* 1st level only */
#nav > li:hover > a {
	position: relative;
	z-index: 1;
}
/* 2nd level only */
#nav ul.level0 > li {
	display: inline-block;
	float: none;
	margin-right: 20px;
	padding-bottom: 20px;
	padding-top: 0;
	vertical-align: top;
	width: 14.4%;
}
#nav ul.level0 > li.last {
	display: inline-block;
	float: none;
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 15px;
	margin-right: 0px
}
#nav ul.level0 > li > a {
	color: #FFA200;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 10px 10px;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
#nav ul li a:hover {
	color: #FFF;
}
/* 2nd level+ */
#nav ul li {
	list-style: none;
	padding: 5px 0;
}
#nav li ul li ul li {

}
#nav li ul li ul li a {display:inline-block}

#nav li ul li ul li:last-child {
	border: none
}
/* 3rd level only */
#nav ul.level1 {
	position: static;
}
#nav ul.level1 > li a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-size: 13px;
	letter-spacing: 1px;
    font-weight: 300;
}
#nav ul.level1 > li a:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding-left: 10px;
}
/* 4th level */
#nav ul.level2 {
	margin: 7px 0;
	padding: 0;
	position: static;
}
#nav ul.level2 a {
	font-size: 0.9166em;
	line-height: 1.2727em;
	opacity: 0.6;
}
#nav li.level2:hover ul.level2 a {
	opacity: 1;
	transition: opacity 150ms ease-out;
	-moz-transition: opacity 150ms ease-out;
	-webkit-transition: opacity 150ms ease-out;
	-o-transition: opacity 150ms ease-out;
}
/* 4rd level+ */
#nav ul ul ul li {
	background: none;
	padding-left: 0;
}
/* Vertical nav-links */

.nav-links > li, .nav-links > li > a {
	line-height: 3em;
}
.nav-links > li > a {
	padding: 0 0.5833em;
}
.nav-links > li.label {
	padding-right: 0.5833em;
}
/* Basic nav-links, no separators */
.nav-links > li {
	float: left;
}
.nav-links > li > a {
	display: block;
}
.grid12-5 {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	width: 23%;
}
.grid12-3 {
	display: inline;
	float: left;
	padding-left: 1.5%;
	padding-right: 1.5%;
	width: 25%;
	text-align: center;
	border-right:1px #f2f2f2 solid;
	padding-bottom:20px
}
.grid12-3.last { border-right:none}

.grid12-3 .more_link {text-decoration:underline; display:inline-block; letter-spacing:1px; font-size:13px; font-weight:300; color:#888; margin-top:10px}

.grid12-3 h4 a {
    font-size: 15px;
    overflow: hidden;
    letter-spacing: 1px;
    font-weight: normal;
    color: #333;
}

.grid12-3 img {
	width: 100%;

	
}
.grid12-3 .item-title a {
	text-transform: uppercase;
	margin-top: 10px;
	color: #aaa
}
.grid12-4 {
	display: inline;
	float: left;
	margin: 5px 0 0;
	width: 34%;
}
.grid12-8 {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 1%;
	width: 64%;
}
#nav .grid12-8 ul.level0 > li {
	width: 21%;
}
.grid13-8 {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 1%;
	margin-bottom: 0;
	width: 80.90%;
}
.back-link {
	float: left
}
#nav .level0-wrapper .nav-add {
	padding: 5px 0 0 0px;
	overflow: hidden;
	padding-bottom: 5px
}
#nav .level0-wrapper .nav-add .push_item {
	float: left;
	margin-right: 9px;
	width: 23.6%;
	margin-left:9px
}
#nav .level0-wrapper .nav-add .push_item img {
	width: 100%;
}
#nav .level0-wrapper .nav-add .push_item_last {
	float: left;
	margin-right: 0px;
	width: 23.6%;
}
#nav .level0-wrapper .nav-add .push_item .push_img a {
	display: block;
}
#nav .level0-wrapper .nav-add .push_item .push_text {
	color: #666;
	font-size: 12px;
	padding: 8px 0;
	text-align: center
}
.fl-custom-tabmenu {
	background: #fff!important;
	color: #999
}
.fl-custom-tabmenu { padding-top:0px!important; padding-bottom:0px!important}


.icon-star:before {
	content: "\f0a3";
}
.icon-star {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #FFA200;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center
}
.heart-icon:before {
	content: "\f06b";
	font-family: FontAwesome;
}
.heart-icon {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #FFA200;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center;
	padding-left: 6px;
}
.custom-icon:before {
	content: "\f0e9";
}
.custom-icon {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #FFA200;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center
}
.icon-custom-grid:before {
	content: "\f00a";
}
.icon-custom-grid {
	font-family: FontAwesome;
	display: inline-block !important;
	font-size: 28px;
	color: #FFA200;
	height: 60px;
	width: 60px;
	line-height: 60px!important;
	text-align: center;
	border: 1px #eee solid;
	border-radius: 50px;
	text-align: center
}
#nav .fl-custom-tabmenulink .header-nav-dropdown-wrapper h4.heading {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
}
#nav .fl-custom-tabmenulink .header-nav-dropdown-wrapper h4.heading {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 0.5px;
	margin-top:15px;
}
#nav li.drop-menu ul {
	position: absolute;
	top: 70px;
	left: 0;
	background: #fff;
	padding: 6px 0;
	border-top: none;
	box-shadow: 0 0 20px -5px;
	width: 165px;
	text-align: left;
	z-index: 1000;
	opacity: 0;
	transform: scale(0) rotate(0deg);
	transition: all 0.3s ease-in-out 0s;
	visibility: hidden
}
#nav li.drop-menu:hover ul {
	position: absolute;
	top: 66px;
	background: #fff;
	padding: 6px 0;
	border-top: none;
	box-shadow:0 3px 10px -5px;
	width: 165px;
	text-align: left;
	z-index: 1000;
	display: block;
	opacity: 1;
	-webkit-transform: scale(1.0) rotate(0deg);
	transform: scale(1.0) rotate(0deg);
	visibility: visible
}
#nav > li.drop-menu ul li ul {
	border-top: none;
	opacity:0;
	z-index:0

	
}

#nav li.drop-menu:hover ul li ul {opacity:0;}
#nav li.drop-menu:hover ul li:hover ul {opacity:1;}

#nav > li.drop-menu {
	position: relative;
}
#nav > li.drop-menu a {
	margin-right: 3px;
}
#nav li.drop-menu ul li {
	position: relative;
}
#nav li.drop-menu ul li a {
	color: #999;
	line-height: 30px;
	font-size: 13px;
	padding: 0 12px;
	display: block;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
}
#nav li.drop-menu ul li:hover > a {
	color: #FFA200;
	padding-left: 18px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#nav li.drop-menu ul li span.plus {
	display: block;
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -1px;
	height: 1px;
	width: 7px;
	background: #535353;
}
#nav li.drop-menu ul {
	display: none;
	opacity:0
}
.sticky {
	position: fixed;
	margin-top: 0px;
	z-index: 500;
	display: block;
	top: 0px;
	height: 51px;
	background: #141414;
	width: 100%;
}
/* End Nav */
